<mat-card role="dialog" aria-labelledby="loginTitle">
  <mat-card-header>
    <mat-card-title id="loginTitle">Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="loginUser()"
      aria-labelledby="loginTitle"
    >
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="Username" required />
        <mat-error *ngIf="loginForm.get('Username')?.invalid">
          Username is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="Password" required />
        <mat-error *ngIf="loginForm.get('Password')?.invalid">
          Password is required
        </mat-error>
      </mat-form-field>

      <div class="button-group">
        <button mat-raised-button color="primary" type="submit">Login</button>
        <button mat-button type="button" (click)="dialogRef.close()">
          Cancel
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
