<mat-card role="dialog" aria-labelledby="signUpTitle">
  <mat-card-header>
    <mat-card-title id="signUpTitle">Sign Up!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="movie.Username"
          placeholder="Username"
          type="text"
          name="Username"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="movie.Password"
          type="password"
          placeholder="Password"
          name="Password"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="movie.Email"
          type="email"
          placeholder="Email"
          name="Email"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="movie.Birthday"
          type="date"
          placeholder="Birthday"
          name="Birthday"
        />
      </mat-form-field>

      <div class="button-group">
        <button mat-raised-button (click)="registerUser()" color="primary">
          Sign Up
        </button>
        <button mat-button type="button" (click)="dialogRef.close()">
          Cancel
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
